::-webkit-scrollbar {
  height: 0px;  /* Hauteur de la barre de défilement invisible */
  width: 0px;   /* Largeur de la barre de défilement invisible */
}

body,
* {
    margin: 0;   /* Réinitialise la marge par défaut */
    padding: 0;  /* Réinitialise le rembourrage par défaut */
    text-decoration: none;  /* Supprime la décoration du texte par défaut */
    text-transform: none;   /* Réinitialise la transformation de texte par défaut */
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;  /* Choix d'une police plus moderne */
    font-weight: 300;  /* Épaisseur de la police */
}

body {
    min-height: 100vh;  /* Définit la hauteur minimale du corps à 100% de la hauteur de la vue */
    position: absolute;  /* Position absolue par rapport au parent positionnel le plus proche */
    display: flex;  /* Utilise le modèle de boîte flexible */
    justify-content: center;  /* Centre le contenu horizontalement */
    align-items: center;  /* Centre le contenu verticalement */
    width: 100vw;  /* Définit la largeur à 100% de la largeur de la vue */
    overflow-x: hidden;  /* Masque tout débordement horizontal */
}

footer {
    position: absolute;  /* Position absolue par rapport au parent positionnel le plus proche */
    bottom: 0;  /* Positionne le bas du pied de page à la base du contenant */
    width: 100vw;  /* Définit la largeur à 100% de la largeur de la vue */
    text-align: center;  /* Centre le texte horizontalement dans le pied de page */
    padding: 20px 0;  /* Ajoute un rembourrage de 20 pixels en haut et en bas */
    background-color: #000000;  /* Background */
    color: white;  /* Définit la couleur du texte */
}

/* Ajoute une classe pour cacher les sections */
.hidden {
  display: none;  /* Masque l'élément avec la classe "hidden" */
}

/* Ajoute une classe pour afficher les sections */
.displayed {
  display: flex;  /* Affiche l'élément avec la classe "displayed" en utilisant le modèle de boîte flexible */
  animation: animation_afficher .2s ease-in-out;  /* Applique une animation d'affichage de 0,2 seconde avec une accélération en entrée et sortie */
}



/* ANIMATION POUR CHAQUE SECTION AU MOMENT DU CLIQUE VERSION MOBILE OU DU SURVOLE EN VERSION PC */

@keyframes animation_afficher {
  from{
    opacity: 0;  /* Au début de l'animation, définir l'opacité à 0 pour masquer complètement l'élément */
  }

  to {
    opacity: 1;  /* À la fin de l'animation, définir l'opacité à 1 pour afficher complètement l'élément */
  }

}