/*Ici, les variables qui vont commencer avec un $ puis le nom 
que l'on veut lui donner avec la valeurs*/

/*Couleurs*/
$orange: hsl(31, 77%, 52%);
$blue : hsl(184, 100%, 22%);
$bleu-vert : hsl(179, 100%, 13%);
$blanc : white;


/*BOX*/
$padding : 40px;
$paddingCotes : 40px;
$border-radius : 5px;
$box-width : 20vw;
$box-height : 60vh;

/*Texte*/

$font-size-text : 1vw;
$line-height : 2vw;

/*Titre*/
$font-size-titre : 6vh;
$font-weight : bold;

/*Button*/
$border-radius : 20px;
$padding-button : 12px;
$margin-button-Top : 40px;
$width : 10vw;