body {
    font-family: serif;
}

nav {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

nav a {
    margin : 0 10px;
    font-size: 18px;
    color: #333;
}

h1 {
    font-family: Roboto Flex, sans-serif;
    text-align: center;
    font-size: clamp(30px, 7vw, 90px);
    padding: 40px 10px;
}


img {
    width: 100%;
}

.content {
    max-width: 850px;
    margin: 0 auto;
    padding: 0px 20px;
    line-height: 1.4;
    text-align: justify;
}


.scroll-indicator {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 10px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.2s ease-out;
    background: linear-gradient(to right, rgba(0, 0, 255, 0.797), rgba(255, 0, 0, 0.699));
}

.footer p {
    padding : 700px 0;
    font-size: 90px;
    text-align: center;
}