#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

input[type='email'] {
  margin: 5px;
  border-radius: 5px;
  background-color: #00496e;
  border: 1px solid white;
  padding: 5px;
}
input[type='password'] {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #00496e;
}
input[type='submit'] {
  margin: 5px;
  border-radius: 5px;
  background-color: #00496e;
  border: 1px solid white;
  padding: 5px;
  transition: .3s all ease-out;
  cursor: pointer;
}
input[type='submit']:hover {
  background-color: #fff;
  color: #00496e;
  transition: .3s all ease-out;
}





@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
